%div.container.container-padding.add-repo
  %div.row
    %div.col-md-12
      %div.repo-enable.fission-button{ href: "#", 'data-toggle' => 'modal', 'data-target' => '#repo_options_add' }= "Add a repository"
      %p= "Add a new repository!"

%div.container.dashboard
  %row
    %div.col-md-6
      %div.panel.panel-default.widget
        %div.panel-heading
          %h2= "Accounts"
        %div.panel-body
          %p= "Manage multiple GitHub Organizations (here called 'Accounts') from your Packager dashboard!"
        %table.table.table-hover
          %tr
            %th= "Name"
            %th= "Plan"
            %th= ""
          - @accounts.each do |account|
            %tr
              %td= account.name
              %td
                - if account.subscription_id
                  %b= Rails.application.config.fission.pricing[:packager][account.subscription_id][:title]
                - else
                  = 'None'
              %td
                %a.fission-button.pull-right.repo_enable{ href: "/accounts/#{account.key}/order/new" }= "Subscription"

    %div.col-md-6
      %div.panel.panel-default.widget
        %div.panel-heading
          %h2= "Repositories"
        %div.panel-body
          %p= "Manage configuration settings for your source code repositories here."
        %table.table.table-hover
          %tr
            %th= "Name"
            %th= ""
          - @repos.each do |repo|
            %tr
              %td
                %a.h4{ href: repo.clone_url }= repo.name
              %td
                %div.fission-button.repo-enable{ href: '#', 'data-toggle' => 'modal', 'repo-name' => repo.name, 'data-target' => '#repo_options_update'}= 'Settings'

%div.container.navfix

= render :partial => 'repositories/enable_popup', :locals => {:repositories => @unregistered_repos, :name => 'add'}
= render :partial => 'repositories/enable_popup', :locals => {:name => 'update'}