%div.container.container-padding.add-repo
  %div.row
    %div.col-md-12
      %div.repo-enable.fission-button{ href: "#", 'data-toggle' => 'modal', 'data-target' => '#repo_options_add' }= "Add a repository"
      %p= "Add a new repository!"

%div.container.dashboard
  %row
    %div.col-md-6
      %div.panel.panel-default.widget
        %div.panel-heading
          %h2= "Accounts"
        %div.panel-body
          %p= "Manage multiple GitHub Organizations (here called 'Accounts') from your Packager dashboard!"
        %table.table.table-hover
          %tr
            %th= "Name"
            %th= "Plan"
            %th= ""
          - @accounts.each do |account|
            %tr
              %td= account.name
              %td
                - if account.subscription_id
                  %b= Rails.application.config.fission.pricing[:packager].try(:[], account.subscription_plan_id).try(:[], :title) || 'unknown'
                - else
                  = 'None'
              %td
                %a.fission-button.pull-right.repo_enable{ href: "/accounts/#{account.key}/order/new" }= "Subscription"

    %div.col-md-6
      %div.panel.panel-default.widget
        %div.panel-heading
          %h2= "Repositories"
        %div.panel-body
          %p= "Manage configuration settings for your source code repositories here."
          - @repos.each do |acct, repos|
            %div.page-header
              %h3= acct
            %table.table.table-hover
              %thead
                %th
                  Name
                %th
              - repos.each do |repo|
                %tr
                  %td
                    %a.h4{ href: repo.clone_url }= repo.name
                  %td
                    %div.fission-button.repo-enable{ href: '#', 'data-toggle' => 'modal', 'repo-name' => repo.name, 'data-target' => '#repo_options_update'}= 'Settings'
            %div.well.well-sm{:style => 'display:block; overflow: auto; white-space: nowrap'}= "[deb https://#{acct}:#{Account.find_by_name(acct).tokens.first.token}@#{Rails.application.config.fission.repository_api}/repository/apt/ubuntu 12.04 stable]"

%div.container.navfix

= render :partial => 'repositories/enable_popup', :locals => {:repositories => @unregistered_repos, :name => 'add'}
= render :partial => 'repositories/enable_popup', :locals => {:name => 'update'}

:javascript
  $('.repo-url').popover();
