%div#repo_add_options{:class => 'modal fade', :role => 'modal', 'aria-labelledby' => 'repo_add_options_label', 'aria-hidden' => true}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %button.close{:type => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true}
          &times;
        %h4#repo_add_title{class: 'modal-title'}= defined?(title) ? title : 'Repo enable'
      %div{class: 'modal-body'}
        = form_tag '#', :method => :post, :id => 'repo_enable', :role => 'form' do
          - if(defined?(repositories))
            %div.form-group
              %label{for: 'repository'}= 'Repository'
              %input#repository{type: 'text', name: 'repository', class: 'form-control', placeholder: 'Repository'}
          %div.form-group
            %label{for: 'branch_filter'}= 'Filter branch'
            %input#branch_filter{type: 'text', name: 'filter_branch', class: 'form-control', placeholder: 'None'}
          %button#repo_enable_button{type: 'submit', class: 'btn btn-default'}= 'Enable'

= render :partial => 'repositories/js', :locals => {:repositories => defined?(repositories) ? repositories : nil}
