%div.account-info
  %div.container
    %h2
      %i.fa.fa-download
      = "#{@account.name}.pkgd.io"
    %h3= "APT Repository"
    %p= "Setup instructions for the Advanced Packaging Tool (APT)."
    %pre.highlight.shell
      :preserve
        sudo bash -c "echo deb https://#{@account.name}:#{@account.tokens.first.token}@#{@account.name}.pkgd.io:9876/repository/apt/ubuntu 12.04 stable > /etc/apt/sources.list.d/#{@account.name}.pkgd.io.list"
        sudo apt-get update

%div.repository-info.widget
  %div.container.container-padding
    %div.panel.panel-default
      %div.panel-heading
        %h2= "Active Repositories"
      %div.panel-body
        %p= "Currently active repositories."
      %table.table.table-hover
        %thead
          %tr
            %th= "Repository"
            %th= "Settings"
        %tbody
          - @registered.each do |repo|
            %tr
              %td= repo.short_name
              %td.dashboard-action-tray
                %a.dashboard-action{href: repository_disable_url(repo, :account_id => @account), style: 'color: red'}
                  %i.fa.fa-trash-o

      - if @footer
        %div{class: 'panel-footer'}= render(partial: @footer, locals: {obj: @items})

    = render :partial => 'repositories/enable_popup'
