%div{class: 'panel panel-default'}
  %div{class: 'panel-heading'}= @title
  %div{class: 'panel-body'}
    %table{class: 'table table-bordered table-hover'}
      %thead
        %tr
          - @keys.each do |key|
            %th= key.to_s.humanize
          %th= 'More'
      %tbody
        - @items.each do |obj|
          %tr
            - @keys.each do |key|
              %td= obj.send(key)
            %td
              %div{class: 'dropdown'}
                %a{href: '#', 'data-toggle' => 'dropdown'}
                  %b= '+'
                  %b.caret
                %ul{class: 'dropdown-menu', role: 'menu', 'aria-labelledby' => 'dLabel'}
                  - obj.class.associations.each do |name, opts|
                    - if opts[:style] == :many
                      - method_name = "#{obj.class.table_name.singularize}_#{opts[:class].table_name}_path"
                      - next unless self.respond_to?(method_name)
                      %li
                        = link_to name.to_s.humanize, send(method_name, obj, :style => name)
                    - else
                      - method_name = "#{obj.class.table_name.singularize}_#{opts[:class].table_name.singularize}_path"
                      - next unless self.respond_to?(method_name)
                      %li
                        = link_to name.to_s.humanize, send(method_name, obj, :style => name)
