%div{class: 'panel panel-default'}
  %div{class: 'panel-heading'}= @title
  %div{class: 'panel-body'}
    %table{class: 'table table-bordered table-hover'}
      %thead
        %tr
          - if @labels
            %th=''
          - @keys.each do |key|
            %th= key.to_s.humanize
          - if @links && @items.first && show_links = @items.first.class.display_links
            %th= 'More'
      %tbody
        - @items.sort{|x,y| x[@keys.first] <=> y[@keys.first]}.each do |obj|
          %tr
            - if @labels
              %td
                - @labels.each do |style, args|
                  - if obj.send(args[:method])
                    %span{class: "label label-#{style}"}= args[:text]
            - @keys.each do |key|
              %td.linked{href: send("#{obj.class.table_name.singularize}_url", obj), style: 'cursor: pointer'}= obj.send(key)
            - if show_links
              %td= render(partial: 'basic_crud/link_dropdown', locals: {obj: obj, links: @links})
  - if @footer
    %div{class: 'panel-footer'}= render(partial: @footer, locals: {obj: @items})

:javascript
  jQuery(document).ready(function($){
    $(".linked").click(function(){
      window.document.location = $(this).attr("href");
    });
  });