%div{class: 'panel panel-primary'}
  %div{class: 'panel-heading'}= "#{@item.class.to_s.humanize} #{@item}"
  %div{class: 'panel-body'}
    %table.table
      %tbody
        - @item.class.display_attributes.each do |k|
          %tr
            %td{:width => '33%'}
              %b= "#{k.to_s.humanize}:"
            %td= @item.send(k)
