%div.navbar.navbar-default.navbar-static-bottom{ role: 'footer' }
  %div.container
    %p.navbar-text.navbar-left
      %abbr{ title: FissionApp::VERSION.codename }= "v#{FissionApp::VERSION.version};"
      != "made with love by <a href='http://heavywaterops.com'>Heavy Water Operations, LLC</a>, &copy; #{Time.now.year}"
    %p.navbar-text.navbar-right
      %a{ href: '/terms' }= "Terms of Service"
      = " | "
      %a{ href: '/privacy' }= "Privacy Policy"
