- if current_user
  - @navtype = "navbar-inverse"
- else
  - @navtype = "navbar-default"
%div.navbar.navbar-fixed-top#sitenav{ class: @navtype }
  %div.container
    %div.navbar-header
      %button.navbar-toggle{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
      %a.navbar-brand{ href: default_url }
        = @app_name || Rails.application.config.fission.site_brand
        - if Rails.application.config.fission[:config][:site_beta]
          %sup
            {beta}
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if current_user
          - if isolated_product? && @navigation.size == 1
            - @navigation.values.first.each do |text, link|
              %li
                %a{:href => link}= text
          - else
            - @navigation.each do |drop_name, links|
              %li.dropdown
                %a{'data-toggle' => 'dropdown', :href => '#'}
                  = drop_name
                  %span.caret
                %ul.dropdown-menu{:role => 'menu'}
                  - links.each do |text, link|
                    %li
                      %a{:href => link}= text
        - else
          - if @nav
            - @nav.each do |section|
              %li
                %a{ href: section[:url] }= section[:name]
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            %a{href: '#', 'data-toggle' => 'dropdown'}
              = current_user.run_state.current_account.name
              %b.caret
            %ul{class: 'dropdown-menu'}
              - current_user.accounts.sort_by(&:name).each do |acct|
                %li= link_to acct.name, switch_path(acct.id)
          %li.dropdown
            %a{href: '#', 'data-toggle' => 'dropdown'}
              - if current_user.default_identity
                %img.avatar.pull-left{ src: current_user.default_identity.infos.try(:[], :image) }
              %b.caret
            %ul{class: 'dropdown-menu'}
              =# %li= link_to 'Profile', edit_user_path(current_user)
              %li= link_to 'Logout', destroy_session_path
        - else
          - if !request.original_url.include? 'login'
            %li= link_to 'Dashboard', new_session_path
