%div.panel.panel-default.sidebar
  %div.panel-heading
    %h3.panel-title= "User: #{current_user.run_state.current_account.name}"
  %div.panel-body
    %p= "Manage your Packager.co user account settings here."
  %table.table
    %tr
      %td
        %div.fission-button{ href: "#ohai" }= "OHAI"
    %tr
      %td
        %div.fission-button{ href: "#obai" }= "OBAI"
