:ruby
  table_id ||= ''
  table_class ||= ''
  pagination ||= nil
  if(pagination == true)
    pagination = :pagination
  end

- if pagination
  .fission-pagination.well.well-sm= content_for(pagination)
%table.table.table-hover{ :class => table_class, :id => table_id }
  %thead
    - if defined?(header_data) && header_data
      - header_classes ||= (1..header_data.count).map{ '' }
      %tr
        - header_data.each_with_index do |header, i|
          %th{ :class => header_classes[i] }
            = header
    - elsif(defined?(header_content_name))
      = content_for(header_content_name)
  %tbody
    - if defined?(table_content_name)
      = content_for(table_content_name)
    - elsif(content_for?(:table_body))
      = content_for(:table_body)
    - elsif defined?(data)
      - data.each do |values|
        %tr
          - values.each do |value|
            %td= value
- if pagination
  .fission-pagination.well.well-sm= content_for(pagination)
