!!! 1.1
%html
  %head
    %title
      = Rails.application.config.fission.site_brand
      - if content_for?(:title)
        = " - #{content_for(:title)}"
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    %meta{name: 'description', content: ''}
    %meta{name: 'viewport', content: 'width=device-width'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{ "data-spy" => "scroll", "data-target" => "#sitenav" }
    // Site nav
    = render partial: 'layouts/nav'

    // Main page content
    %div.navfix#top
      = render partial: 'layouts/alerts'
      = yield

    // Footer content
    = render partial: 'layouts/footer'
